@model PartyInvites.Models.GuestResponse

@{
    ViewBag.Title = "RsvpForm";
}

<div class="panel panel-success">
    <div class="panel-heading text-center"><h4>RSVP</h4></div> 
    <div class="panel-body">
        <br />
        <br />

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary() //displays error messages
                                    <div class="form-group">
                                        <label>Your name: </label>
                                        @Html.TextBoxFor(x => x.name, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <label>Your email: </label>
                                            @Html.TextBoxFor(x => x.email, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <label>Your phone number: </label>
                                            @Html.TextBoxFor(x => x.phone, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                        <label>Will you attend?</label>
                                                    @Html.DropDownListFor(x => x.willAttend,
                               new[]
                               {
                                 new SelectListItem()
                                {
                                Text = "Yes, I'll be there",
                                Value = bool.TrueString
                                },
                                 new SelectListItem()
                                 {
                                     Text = "No, I can't come",
                                     Value = bool.FalseString
                                 }
                               }, "Choose an option", new { @class = "form-control" })

                                                
                                </div>
                                <div class="text-center">
                                <input type="submit" value="Submit RSVP" />
                                </div>
        } @*end of form*@
        </div>
    </div>